{%extends "base.html"%} <!-- logo part is is base.html -->
{% block content %}

    <link rel="stylesheet" href="{{url_for('static',filename = 'css/login.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='js/login.js') }}"></script>

<!-- Login part -->

<!-- Alerts -->
    <div id ="login-alert-name" class="alert" hidden>
        <strong>Please Enter Login Id!</strong>
    </div>
    <div id ="login-alert-pass" class="alert" hidden>
        <strong>Please Enter User Password!</strong>
    </div>
    <div id ="login-alert" class="alert" hidden>
        <strong>Wrong Password!</strong>
    </div>
    <div id ="login-alert-notexist" class="alert" hidden>
        <strong>User Not Found!</strong>
    </div>
    <div id ="login-failed-alert" class="alert" hidden>
        <strong>Login Failed!</strong>
    </div>
<!-- Alerts end -->

    <div id='login_div'>
        <label for="id"><strong>Login Id</strong></label>
      <input type="text" id="id" name="id">
        <label for="pass"><strong>Password</strong></label>
      <input type="text" id="pass" name="pass">

      <div>
        <button id="login"> Login </button>
        <button id="registeruser" style="float: right;"> New Users</button>
      </div>
    </div>
<!-- Login part end -->

<!-- New User Registration part -->

<!-- alerts -->
    <div id="register_div" hidden>
          <div id ="register-alert-duplicate" class="alert" hidden>
        <strong>Duplicate User Entry!</strong>
          </div>
          <div id ="register-alert-success" class="alert" hidden>
        <strong>User Registered!</strong>
          </div>
<!-- alerts end-->

        <label for="savefname"><strong>First Name</strong></label><span class="required">*</span><small hidden id="register-alert-fname" style="color: red;float:right">Please Enter First Name</small><br>
      <input type="text" id="savefname" name="savefname">
        <label for="savelname"><strong>Last Name</strong></label>
      <input type="text" id="savelname" name="savelname">
        <label for="saveid"><strong>Login Id</strong></label><span class="required">*</span><small hidden id="register-alert-name" style="color: red;float:right">Please Enter User Name</small><br>
      <input type="text" id="saveid" name="savenid">
        <label for="savepass"><strong>password</strong></label><span class="required">*</span><small hidden id="register-alert-pass" style="color: red;float:right">Please Enter Password</small><br>
      <input type="text" id="savepass" name="savepass">
      <small id="password-strength-status" style="color: red;float:right"></small>
        <label for="confpass"><strong>confirm password</strong></label><span class="required">*</span> <small hidden id="register-alert-confpass" style="color: red;float:right">Please Confirm Password</small><small hidden id="register-alert-passnotmatch" style="color: red;float:right">Password Not Match</small><br>
      <input type="text" id="confpass" name="confpass">

      <div>
        <button id="saveuser"> Save </button>
        <button id="loginuser" style="float: right;">Login</button>
      </div>
    </div>
<!-- New User Registration part -->

{% endblock %}